{{#if errors}}
    {{#each errors}}
        <div class="alert alert-danger">{{msg}}</div>
    {{/each}}
{{/if}}

<form method="get" action="/user/showManagers">
  <button type="submit" class="btn btn-default" formaction="/user/addUser">Add User</button>
  <button type="submit" class="btn btn-default">Show Managers</button>
</form>
<p></p>

{{#if employees}}
  <div>
      <table class="table table-bordered">
        <thead>
            <th>Username</th> 
            <th>Locations</th> 
            <th>Status</th>
            <th/>
        </thead> 
        <tbody> 
            {{#each employees}} 
            <tr>
                <td>{{username}}</td>
                <td>{{locations}}</td>
                <td>{{status}}</td>
                <td width="50"><form method="post" action="/user/editUser">
                                  <input type="hidden" name="userId" value="{{_id}}"/>
                                  <input type="hidden" name="username" value="{{username}}"/>
                                  <button type="submit" class="glyphicon glyphicon-pencil btn btn-link"/>
                                </form>
                </td>
            </tr>
            {{/each}} 
        </tbody> 
    </table>
</div>
{{/if}}